{% load wagtailcore_tags wagtailimages_tags %}
{% if pages %}
    <div class="index-list">
        {% for page in pages %}
            {% if news_list_style == "title_intro_link" %}
                <a href="{% pageurl page %}">
                <div class="row news-list-item">
                    <div class="col-sm-12 news-list-item-details">
                            <h3 class="list-group-item-heading">{{ page.title }}</h3>
                            <dt>{{ page.specific.date }}</dt>
                            {% if page.specific.intro %}
                                <div class="news-list-item-intro">
                                    {{ page.specific.intro|richtext }}
                                </div>
                            {% endif %}
                    </div>
                </div>
                </a>
            {% elif news_list_style == "full_no_link"%}
                <div class="row news-list-item-no-link">
                    <div class="col-sm-12 news-list-item-details">
                            <h3 class="list-group-item-heading">{{ page.title }}</h3>
                            <dt>{{ page.specific.date }}</dt>
                            {% if page.specific.intro %}
                                <div class="news-list-item-intro">
                                    {{ page.specific.intro|richtext }}
                                </div>
                                <hr>
                            {% endif %}
                            <div class="news-list-item-body">
                                {{ page.specific.body|richtext }}
                            </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
