{% if litters_dam %}
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Litters dam:</h3>
            </div>
            <div class="panel-body">
                <ul>
                {% for litter in litters_dam %}
                    <li><a href="{{ litter.url }}">{{ litter.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}
